body {
    margin:0;
    padding:0;
    font-family: Bahnschrift;
}

/* -- Navigace -- */
header{
    position: relative;
    display:flex;
    justify-content: space-between;
    color: rgb(95, 81, 81);
    background: rgba(0,0,0,0.2)
}
  
header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Bahnschrift SemiBold;
    margin: 0 2rem;
}
  
header div i{
    font-size: 2rem;
    margin: 1rem;
}
  
  
header nav{
    padding: 1rem 2rem;
}
header img{
    height: auto;
    width: 150px;
}
  
header nav ul li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: right; 
}
  
header nav li a {
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem; 
    transition: all 250ms ease-in;
}

header nav ul {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}
  
header nav li a:hover{
    background: rgba(255,255,255,.3);
    color: black;
}

#logo {
    width: 150px;
    height: 100px;
}
/* -- Div, který je v aside -- */
.square{
    width: 250px;
    height: 925px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px black;
    
}
.rectangle{
    width: 250px;
    height: 30px;
    background-color: #151515;
}
/* -- Aside v mainu -- */

aside{
    float: left;
    margin-right: 20px;
}
aside ul li {
    display: flex;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 15px;
    justify-content: center;
}

aside li a {
    text-decoration:none;
    color: black;
    font-size: 1rem; 
    transition: all 250ms ease-in;
    text-align: center;
    justify-content: center;
    margin-right: 40px;
}

aside ul {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}
aside li a:hover{
    text-decoration: red underline;
    color: black;
}

/*--Nadpis--*/
div.nadpis{
    font-family: Bahnschrift; 
    font-size: 150%;
    background-color: #9B1D20;
    color: aliceblue;
    text-align: center;
    height: 30px;
}
/*--Sekce--*/
section{
    margin-left: 25px;
}

/*--Písmo--*/
p.section{
    font-family: Bahnschrift;
    font-size: 1rem;
    margin: 0px;
    letter-spacing: 1px;
    text-align: justify;
    margin-right: 25px;
}
/*--Pata stránky--*/
div.footer{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #000000;
    font-size: 100%;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: Bahnschrift;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}